html {
    font-family: sans-serif;
    background-color: antiquewhite;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

th {
    background-color: orange;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
    font-weight: bolder;
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
    font-weight: bolder;

}

caption {
    padding: 10px;
}

h1 {
    color: hotpink;
    font-size: 3.5em;
    text-align: center;
    font-family: Georgia, sans-serif;
}

h2 {
    color: mediumpurple;
    text-align: center;
}

p {
    color: green;
    font-size: 1.2em;
    line-height: 150%;
}

li {
    color: orange;
    font-style: italic;
    font-weight: bolder;

}


p.main-text{
    color:plum;
    font-weight: bold;
}

#schedule{
    background-color: purple;
    text-align: center;
}

#colors{
    background-color: purple;
    text-align: center;
}

a:hover {
    color: deeppink;
}

li:nth-child(even){
    background: lightcoral;
}

li:nth-child(odd){
    background: lightgoldenrodyellow;
}

.test {color: green;}
    p {color: red;}

p{
    color: orange !important;
    background-color: blanchedalmond;
}